<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.delipackmobi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:replace="android:theme">
        <activity android:name=".TripInSessionCancel"></activity>
        <activity
            android:name=".RegisterWelcomeFinalWalkthrough"
            android:launchMode="singleTask" />
        <activity
            android:name=".RegisterWelcomeSecondWalkThrough"
            android:launchMode="singleTask" />
        <activity
            android:name=".RegisteredWelcomeWalkThrough"
            android:launchMode="singleTask" />
        <activity
            android:name=".NetworkConnectionView"
            android:launchMode="singleTask" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ReportProblemView" />
        <activity android:name=".CustomerSupportView" />
        <activity
            android:name=".PromotionsView"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".TripCompletedRatingMessage"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentTheme" />
        <activity
            android:name=".RateCompanyRider"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentTheme" />
        <activity
            android:name=".PackageCancel"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentTheme" />
        <activity
            android:name=".PackageInProgress"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentTheme" />
        <activity android:name=".RiderPickedUpInformation" />
        <activity
            android:name=".CashOptionSelected"
            android:launchMode="singleTask" />
        <activity android:name=".EditCustomerProfile" />
        <activity
            android:name=".Homedashboard_user"
            android:label="@string/title_activity_homedashboard_user" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SigninActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".HistoryDetails"
            android:theme="@style/AppTheme.HistoryCustomTheme" />
        <activity
            android:name=".MobileMoneyPayment"
            android:theme="@style/AppTheme.HistoryCustomTheme" />
        <activity
            android:name=".SearchResult"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.HistoryCustomTheme" />
        <activity
            android:name=".DeliPackEventLoader"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".CustomerContract.HistoryServiceClass">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </service>
    </application>

</manifest>